# Environment variables (보안 필수!)
.env
backend/.env

# Python specific
**/__pycache__/
*.py[cod]

# Redis & Logs
backend/dump.rdb
backend/*.log

# WandB (개인 실험 기록)
backend/wandb/

# Local Data (대용량 이미지 및 결과물)
backend/data/benchmark_results/
backend/data/profiling_logs/
backend/data/test_images/
evaluation_data/*.json

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# OS specific
.DS_Store
Thumbs.db
tree_result.txt