# Python bytecode
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# WandB & Logs (가장 큰 용량 차감)
backend/wandb/
backend/*.log
backend/dump.rdb

# Data & Results
backend/data/benchmark_results/
backend/data/profiling_logs/
backend/data/test_images/
evaluation_data/

# Frontend dependencies
frontend/node_modules/
frontend/dist/

# Git history
.git/
.gitignore